<div class="row">
    <div [ngClass]="{
        'text-white': player.jerseyColor === 'dark' || player.jerseyColor === 'danger',
        'text-dark': player.jerseyColor !== 'dark' && player.jerseyColor !== 'danger'
        }" class="card bg-{{ player.jerseyColor }}"
    *ngFor="let player of players$ | async">
        <div class="card-header">
            {{ player.info }}
        </div>
        <a href="{{ player.imgUrl }}">
            <img [src]="player.imgUrl" class="card-img-top" alt="...">.
        </a>
        <div class="card-body">
        <h4 class="card-text">{{ player.name }}</h4>
        </div>
    </div>
</div>