.row{
    margin:0 auto;
    width: 60%;
    padding: 10px;
}
.card{
    margin:0 auto;
    margin-bottom:10px;
}
/* .players{
    border:1px solid blue;
    width:400px;
    height:400px;
    margin: auto;
}
.players .playerImg{
    display: flex;
    justify-content: top;
} */
/* .players .playerImg img{
    width: 100%;
    height: 100%;
} */